<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="HostSmtp" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="EnableSsl" value="true" />
    <add key="SenderName" value="Przemek Rębkowski" />
    <add key="SenderEmail" value="skati33@gmail.com" />
    <add key="SenderEmailPassword" value="tRXUrzgin3xlax7LX+cyP+l8d9LWeOy0s2zbezShMfAj2JIq0o4+etPdoA1jG2r/mgkJZat5EXnYO0ezruogom7nf6Mf+auxV/378rX/NoVE4bFw49gnUROWDZzVRmVv" />
    <add key="EmailReciver" value="p.rebkowski@gmail.com" />
    <add key="SendHour" value="8" />
    <add key="IntervalInMinutes" value="1" />
    <add key="WhetherSendReport" value="true" />
  </appSettings>
</configuration>